#formulair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

#formulair div {
    display: block;
    flex-direction: column;
}

#formulair label {
    margin-left: 30px;
}