#formulair {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;

}

#formulair div {
    display: flex;  
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: 5px;
    
}

/* #formulair label {
    margin-left: 30px;
} */

.field {
    width: 25ch;
}